{% extends "base.html" %}
{% block content %}

<section>
    {% for article in articles_page.object_list %}
        <article class="post-vignette">
            <a href="{{ SITEURL }}/{{ article.url }}">
                <h2>{{ article.title }}</h2>
            </a>
            <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
            <p>{{ article.summary }}</p>
        </article>
    {% endfor %}
</section>

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}

{% endblock content %}
