body {
    font-size: 2.6vmin;
    font-family: 'Vollkorn', serif;
    color: #0C1615;
}

@media (min-width: 970px) {
  .container-content {
    width: 768px;
  }
}

.page-title a:focus, .page-title a:hover, .page-title a {
    color: #2F433B;
    text-decoration: none;
}

.page-header {
    margin: 20px 0 20px;
}

.post-vignette {
    padding-bottom: 1em;
}

.post-vignette a:hover, .post-vignette a:focus, .post-vignette a {
//    color: #2F433B;
    text-decoration: none;
}

.about-box {
    text-align: center;
    padding-top: 1em;
}

// colors
// PalmBlack  #0C1615;
// BushGray  #2F433B;
// SunShadow #D3D9D1;
// ThinGrey   #474143;
// CreamWhite #DEDDE4;
// GreenMaybe #BBB4A1;
// MachaLatte  #E4D32F;

